{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}ファボ一覧{% endblock %}

{% block content %}
<h1>ファボ一覧</h1>
<div class="row my-4">
    <div class="card-columns">
        {% for object in object_list %}
            <div class="card">
                {% if object.photo %}
                    <img class="card-img-top" src="{{ object.photo.url }}">
                {% else %}
                    <img class="card-img-top" src="{% static 'fav/images/no-image.png' %}">
                {% endif %}
                <div class="card-body">
                    <p class="card-title"><a href="{% url 'fav:update' object.pk %}">{{ object.title }}</a></p>
                    <p class="card-text">{{ object.comment|linebreaksbr }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ object.created_at|naturaltime }}</small>
                </div>
            </div>
            {#{% if forloop.counter|divisibleby:"4" %}#}
            {#<div class="w-100"></div>#}
            {#{% endif %}#}
        {% endfor %}
    </div>
</div>
<div class="row my-4">
    <a class="btn btn-lg btn-primary" href="{% url 'fav:create' %}" role="button">ファボ登録</a>
</div>
{% endblock %}
